
<div class="jumbotron mt-4">
    <h1 class="display-4">FootballPlayers App</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis quis laborum illo. Deserunt, saepe facilis.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed facere asperiores provident sequi mollitia voluptatibus sint dolore nisi quia placeat!</p>
    <a href="https://github.com/Armando99Rdz" class="btn btn-primary" target="_blank">My GitHub</a>
</div>